### all ignore ###
/*
/.**

### not ignore ###
!/.zshrc
!/.p10k.zsh
!/fuya.zsh-theme
!/fuya-docker.zsh-theme
!/.bin/
!/.bin/**
!/.config/
!/.config/**
!/lualatex
!/lualatex/**
!/markdown
!/markdown/**
!/MesloLGS NF Regular.ttf

!/README.md
!/.gitignore

### ignore ##
.config/nvim/lazy-lock.json

